html {
  background-color: #e3f4ff;
}

body {
  max-width: 320px;
  margin: auto;
  font-family: 'Space Grotesk', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/fond_header.webp);
  background-size: cover;
  padding: 25px;
}

.title-box {
  background-color: #000000;
  color: #e3f4ff;
  padding: 15px 30px;
  text-align: center;
}

h1 {
  padding: 0 20px;
}

.title-box p {
  padding: 0 7px;
}

.cta-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cta-dark {
  background-color: #000000;
  color: #e3f4ff;
  margin: 25px 0 15px;
  padding: 10px 15px;
  border-radius: 12px;
  font-size: 13px;
  text-decoration: none;
}

.cta-light {
  background-color: #e3f4ff;
  color: #000000;
  padding: 9px 14px;
  border-radius: 12px;
  font-size: 13px;
  text-decoration: none;
}

.intro-section {
  background-color: #e3f4ff;
  padding: 35px 15px;
  text-align: center;
}

.intro-section p {
  padding: 0 40px;
  font-size: 13px;
}

.intro-section img {
  padding: 20px 128px 0;
}

.product-section {
  background-color: #000000;
  padding-bottom: 20px;
}

.product-section h2 {
  color: #e3f4ff;
  text-align: center;
  padding-top: 50px;
}

.product-section div {
  background-color: #e3f4ff;
  margin: 10px 25px 55px;
  padding: 5px 30px 25px;
  border-radius: 20px;
}

.product-section a {
  color: #000000;
  padding-right: 25px;
  font-size: 13px;
}

.product-section img {
  max-width: 100px;
}

.contact-section {
  background-color: #e3f4ff;
}

.contact-section h3 {
  padding-top: 20px;
  font-size: 25px;
  text-align: center;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-section a {
  background-color: #000000;
  color: #e3f4ff;
  text-decoration: none;
}

footer {
  color: #ffffff3a;
}