html {
  background-color: #000000;
}

body {
  max-width: 320px;
  margin: auto;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/fond_header.webp);
  background-size: cover;
}

.title-box {
  background-color: #000000;
  color: #e3f4ff;
}

.cta-dark {
  background-color: #000000;
  color: #e3f4ff;
  text-decoration: none;
}

.cta-light {
  background-color: #e3f4ff;
  color: #000000;
  text-decoration: none;
}

.intro-section {
  background-color: #e3f4ff;
}

.product-section h2 {
  color: #e3f4ff;
}

.product-section div {
  background-color: #e3f4ff;
}

.product-section a {
  color: #000000;
}

.contact-section {
  background-color: #e3f4ff;
}

.contact-section a {
  background-color: #000000;
  color: #e3f4ff;
  text-decoration: none;
}